<!DOCTYPE html>

<html>
<head>
	<title>Twitter HeatMap</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<link href="stylesheet.css" rel="stylesheet">
	<script src="/angular/angular.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="/module.js"></script>
	<script src="mainpage.controller.js" defer></script>
	<script src="mainpage.factory.js" defer></script>
</head>
<body>
	<div class="container-fluid" ng-app="heatmap">
		<h1>Welcome to Twitter HeatMap</h1>
		<h6>Shows where people are tweeting from about a topic</h6>
		<div ng-controller="mainpageCtrl">
			<input ng-model= "inputText" type='text' placeholder="Search Here:"></input>
			<br/>
			<br/>
			<button ng-click="getStream()" type="submit" class="btn btn-primary-outline btn-lg">SUBMIT</button>
			<button type="button" class="btn btn-danger-outline btn-lg" ng-click="stopStream()">Stop</button>
					<button type="button" class="btn btn-info-outline btn-lg" ng-click="clearMap()">Clear</button>	
			<div id="map-canvas"></div>
		</div>
	</div>
    <script src="socket.io/socket.io.js" defer></script>
    <script src='socketio.js' defer></script>
	<script src="map.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBl6x_QN3UErjKTrfRjaL8oClY3bWFoz8&libraries=visualization" defer></script>
</body>
</html>