

#map-canvas {
  height: 500px;
/*  border-right: 2px solid #b1a398;
  border-bottom: 2px solid #b1a398;
  border-left: 2px solid #b1a398;*/
  width: 500px; 
  max-width: none,
}

/*style="width: 500px; height: 400px;"*/

